<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: common_header(~{::title}, ~{})">
    <title>User</title>

</head>

<body>
<nav th:replace="fragments/common :: nav1"/>

<table class="table table-striped">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">PROFILE PIC</th>
        <th scope="col">TWEETS</th>
        <th scope="col">FOLLOWING NO</th>
        <th scope="col">FOLLOWERS NO</th>
        <th scope="col">FOLLOWING</th>
        <th scope="col">FOLLOWER</th>
    </tr>
    <tr>
        <td th:text="${user.userVal.user.id}">ID</td>
        <td th:text="${user.userVal.username}">ID</td>
        <td th:text="${user.userVal.profilePic}">ID</td>
        <td th:text="${user.userVal.tweet_count}">ID</td>
        <td th:text="${user.userVal.following_count}">ID</td>
        <td th:text="${user.userVal.follower_count}">ID</td>
        <td th:text="${user.userVal.following}">ID</td>
        <td th:text="${user.userVal.follower}">ID</td>
    </tr>
</table>
<br>
<div th:replace="fragments/TweetTable :: tweet_table(${tweets.content})"></div>

<nav th:replace="fragments/common :: pagination(${pageLinks})"></nav>

<th:block th:replace="fragments/base :: scripts"/>
</body>
</html>